# Reto 2: Estimados de locación

## 1. Objetivos:
- Implementar los algoritmos para obtener estimados de locación sin utilizar los métodos builtin de pandas
 
---
    
## 2. Desarrollo:

### a) Implementando estimados de locación

Este Reto va a consistir en implementar el promedio y la mediana sin utilizar los métodos `mean` y `median` que vienen incluidos en `pandas`. Implementar algoritmos desde 0 es una excelente práctica que nos ayuda a entenderlos mejor y recordarlos con más precisión.

Puedes utilizar `pandas` y otras funciones vectorizadas o de reducción. Las únicas funciones que no están permitidas son `mean` y `median`. Las dos funciones que vas a crear deben recibir una serie de `pandas` y regresar un solo número.

In [1]:
def promedio_custom(serie):
    return serie.sum() / serie.count()

In [2]:
def mediana_custom(serie):
    import numpy as np
    
    serie_ordenada = serie_values()  # Ordenar serie
    length_of_series = serie.count() # numero de elementos
    if length_of_series % 2 == 0:
        bottom = int(length_of_serie / 2)  # 2
        top = int(bottom + 1) # 3
        return (serie_ordenada.iloc[bottom] + serie_ordenada.iloc[top]) / 2
    else:
        index = int (np.ceil(length_of_series / 2)) # techo
        return serie_ordenada.iloc[index]
    
[1,2,3,4,5]

#      5
#     ----
#   2| 10
#      0


#      5
#     ----
#   2| 10
#      0

### b) Estimados de locación de diámetros de meteoritos

Ahora vamos a utilizar nuestras funciones custom para obtener estimados de locación de un conjunto de datos que contiene información acerca de objetos que orbitaron cerca de la Tierra durante el periodo de enero y febrero de 1995.

El dataset se llama 'near_earth_objects-jan_feb_1995-clean.csv' y la columna que vamos a analizar se llama 'estimated_diameter.meters.estimated_diameter_max'. Esta columna contiene el diámetro máximo estimado de cada objeto.

El reto es el siguiente:

1. Lee el dataset usando `pandas`.
2. Obtén el promedio y la mediana usando tus funciones custom y asígnalas a `promedio_diametro` y `mediana_diametro`.

In [16]:
import pandas as pd

In [17]:
# Lee el dataset y asígnalo a esta variable

df_meteoritos = pd.read_csv('near_earth_objects-jan_feb_1995-clean.csv')
df.head()

,Unnamed: 0,id,name,is_potentially_hazardous_asteroid,estimated_diameter.meters.estimated_diameter_min,estimated_diameter.meters.estimated_diameter_max,close_approach_date,epoch_date_close_approach,orbiting_body,relative_velocity.kilometers_per_second,relative_velocity.kilometers_per_hour
0,0,2154652,154652 (2004 EP20),False,483.676488,1081.533507,1995-01-07,789467580000,Earth,16.142864,58114.308667
1,1,3153509,(2003 HM),True,96.506147,215.794305,1995-01-07,789491340000,Earth,12.351044,44463.757734
2,2,3516633,(2010 HA),False,44.111820,98.637028,1995-01-07,789446820000,Earth,6.220435,22393.567277
3,3,3837644,(2019 AY3),False,46.190746,103.285648,1995-01-07,789513900000,Earth,22.478615,80923.015021
4,4,3843493,(2019 PY),False,22.108281,49.435619,1995-01-07,789446700000,Earth,4.998691,17995.288355

In [22]:
promedio_diametro = df_meteoritos["estimated_diameter.meters.estimated_diameter_max"].mean()
promedio_diametro

410.08604223976545

In [23]:
mediana_diametro = df_meteoritos["estimated_diameter.meters.estimated_diameter_max"].median()
mediana_diametro

215.7943048444