In [3]:
import pandas as pd
import math
import numpy as np

# Suma

**Ejemplo:** Dados los valores de x : 4, 3, 8, 5, 9, 2, 11, 1, 6:

In [4]:
x = pd.Series([4,3,8,5,9,2,11,1,6])
x

0     4
1     3
2     8
3     5
4     9
5     2
6    11
7     1
8     6
dtype: int64

(1) La suma para los primeros cuatro términos es:

In [5]:
x[0:4].sum() #slicing

20

(2) La suma entre el segundo término y el sexto:

In [6]:
x[1:7].sum()

38

(3) La suma de todos los términos es:

In [7]:
x.sum()

49

**Ejemplo:** Dado el siguiente `DataFrame`:

In [8]:
df = pd.DataFrame.from_dict({'x': [1,2,3,4,5], 'y': [-3,-5,2,0,1]})
df

   x  y
0  1 -3
1  2 -5
2  3  2
3  4  0
4  5  1

(1) Obtener la suma desde el índice 2 al 5 de la columna x

In [9]:
df['x'][2:6].sum()

12

(2) Obtener la negación de la suma de todos los elementos de la columna x

In [9]:
- df['x'].sum()

-15

(3) Obtener la suma desde el índice 1 al 4 de la columna y

In [10]:
df['y'][1:4].sum()

-3

(4) Obtener la suma desde el índice 0 al 5 del cuadrado de cada elemento de la columna y.

In [11]:
np.power(df['y'][0:5], 2).sum()

39

(7) Obtener la suma del producto de cada elemento de la columna x por cada elemento de la columna y (índices 0 a 5) y multiplicar el resultado por 7.

In [12]:
7*(df['x'] * df['y'])[0:5].sum()

-14

**¿Cómo definirías la función suma?**

In [10]:
def suma_serie(s):
    a = 0
    for i in range(len(s)):
        a = a + s[i]
    return a

# s = [1,2,3]
# a = 6
# i = 0..2

In [13]:
suma_serie(pd.Series([1,2,3,4]))

10

# Media aritmética

In [14]:
s = pd.Series([10,8,6,15,10,5])
s.mean()

# 1. Sumar los números (sum())
# 2. Dividir entre el número de valores (len())

9.0

# Mediana

*__Ejemplo:__* Obtener la mediana de los siguientes datos: 4, 7, 1, 9, 2, 5, 6.

In [16]:
s = pd.Series([4,7,1,9,2,5,6]) # Número impar de elementos
s.sort_values()

2    1
4    2
0    4
5    5
6    6
1    7
3    9
dtype: int64

In [17]:
s.median()

5.0

*__Ejemplo__*: Obtener la mediana de los siguientes datos: -3, 5, 18, 4, 11, -6, 9, 10, -1, 2.

In [ ]:
s = pd.Series([-3,5,18,4,11,-6,9,10,-1,2])
s.sort_values()

In [15]:
(4+5)/2

4.5

In [16]:
s.median()

# 1. Ordenar de forma ascendente o descendente ()
# 2. Calcular la longitud de la serie (len)
# 3. Si longitud es par (longitud % 2 == 0):
#    Sacar promedio de los números de enmedio.
# 3. Si no:
#    Obtenener el valor de enmedio
#
# [1,2,3] -> longitud = 3
# 1 
# ceil(3/2)
# [1,2,3,4] -> Longitud = 4
# ceil(3/2), ceil(3/2)+1

9.0

# Desviación estándar

In [21]:
s = pd.Series([10, 18, 15, 12, 3, 6, 5, 7])
s

0    10
1    18
2    15
3    12
4     3
5     6
6     5
7     7
dtype: int64

In [22]:
m = s.mean() # Promedio
m

9.5

In [23]:
r = s - m # Resta de cada elemento
r

0    0.5
1    8.5
2    5.5
3    2.5
4   -6.5
5   -3.5
6   -4.5
7   -2.5
dtype: float64

In [24]:
e = r.pow(2) # Elevamos al cuadrado
e

0     0.25
1    72.25
2    30.25
3     6.25
4    42.25
5    12.25
6    20.25
7     6.25
dtype: float64

In [25]:
a = e.sum() # sumamos
a

190.0

In [26]:
n = a/len(s) # Dividimos entre el número de elementos
n

23.75

In [27]:
math.sqrt(n) # Raíz cuadrada

4.873397172404482

In [28]:
s.std()

5.209880722517277

**¿Qué pasó?**

Revisa: https://towardsdatascience.com/why-computing-standard-deviation-in-pandas-and-numpy-yields-different-results-5b475e02d112

In [29]:
s.std(ddof=0)

4.873397172404482