# Reto 2: Tablas de frecuencias

## 1. Objetivos:
- Aprender a generar tablas de frecuencias segmentando nuestros datos
 
---
    
## 2. Desarrollo:

#### a) Analizando distribución con tablas de frecuencias

Vamos a generar tablas de frecuencias de los siguientes datasets y columnas:

1. Dataset: 'near_earth_objects-jan_feb_1995-clean.csv'
    - Columnas a graficar: 'estimated_diameter.meters.estimated_diameter_max' y 'relative_velocity.kilometers_per_second'
2. Dataset: 'new_york_times_bestsellers-clean.json'
    - Columnas a graficar: 'price.numberDouble'
3. Dataset: 'melbourne_housing-clean.csv'
    - Columnas a graficar: 'land_size'
    
Estos conjuntos de datos son los mismos que graficamos en el Reto anterior. Antes de generar las tablas de frecuencias, revisa el rango de tus conjuntos de datos y decide el número de segmentos adecuado para cada uno.

Después, genera las tablas de frecuencias para cada uno de estos conjuntos de datos y compáralos con las gráficas de caja que realizaste en el Reto anterior. ¿Hay información nueva? ¿Qué ventajas o desventajas nos da esta nueva perspectiva?

Piensa cuál de las dos aproximaciones (boxplots y tablas de frecuencia) resulta más útil para detectar valores atípicos. ¿O simplemente son útiles en diferentes contextos?

In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
df1 = pd.read_csv('https://raw.githubusercontent.com/manu-msr/beduadp/master/Datasets/near_earth_objects-jan_feb_1995-clean.csv',index_col=0)

diametro = ("estimated_diameter.meters.estimated_diameter_max")
velocidad = ("relative_velocity.kilometers_per_second")

diametro = df1[diametro]
diametro.max() - diametro.min() #rango

6513.905031051

In [13]:
segmentos_d = pd.cut(diametro, 20)

segmentos_d

0      (980.065, 1305.76]
1       (-3.535, 328.674]
2       (-3.535, 328.674]
3       (-3.535, 328.674]
4       (-3.535, 328.674]
              ...
328    (980.065, 1305.76]
329    (980.065, 1305.76]
330    (328.674, 654.369]
331    (654.369, 980.065]
332     (-3.535, 328.674]
Name: estimated_diameter.meters.estimated_diameter_max, Length: 333, dtype: category
Categories (20, interval[float64]): [(-3.535, 328.674] < (328.674, 654.369] < (654.369, 980.065] < (980.065, 1305.76] ... (5214.103, 5539.798] < (5539.798, 5865.493] < (5865.493, 6191.189] < (6191.189, 6516.884]]

In [15]:
df1["estimated_diameter.meters.estimated_diameter_max"].groupby(segmentos_d).count()

estimated_diameter.meters.estimated_diameter_max
(-3.535, 328.674]       207
(328.674, 654.369]       67
(654.369, 980.065]       24
(980.065, 1305.76]       18
(1305.76, 1631.455]       4
(1631.455, 1957.15]       6
(1957.15, 2282.846]       1
(2282.846, 2608.541]      1
(2608.541, 2934.236]      1
(2934.236, 3259.931]      1
(3259.931, 3585.627]      1
(3585.627, 3911.322]      1
(3911.322, 4237.017]      0
(4237.017, 4562.712]      0
(4562.712, 4888.408]      0
(4888.408, 5214.103]      0
(5214.103, 5539.798]      0
(5539.798, 5865.493]      0
(5865.493, 6191.189]      0
(6191.189, 6516.884]      1
Name: estimated_diameter.meters.estimated_diameter_max, dtype: int64

In [5]:
velocidad = df1[velocidad]
velocidad.max() - velocidad.min() #rango

39.8459916905

In [16]:
segmentos_v = pd.cut(velocidad, 20)

segmentos_v

0       (14.628, 16.62]
1      (10.643, 12.635]
2        (4.666, 6.658]
3      (20.604, 22.597]
4        (4.666, 6.658]
             ...
328     (14.628, 16.62]
329     (14.628, 16.62]
330    (18.612, 20.604]
331    (28.574, 30.566]
332      (6.658, 8.651]
Name: relative_velocity.kilometers_per_second, Length: 333, dtype: category
Categories (20, interval[float64]): [(0.642, 2.674] < (2.674, 4.666] < (4.666, 6.658] < (6.658, 8.651] ... (32.558, 34.551] < (34.551, 36.543] < (36.543, 38.535] < (38.535, 40.527]]

In [17]:
df1["relative_velocity.kilometers_per_second"].groupby(segmentos_d).count()

estimated_diameter.meters.estimated_diameter_max
(-3.535, 328.674]       207
(328.674, 654.369]       67
(654.369, 980.065]       24
(980.065, 1305.76]       18
(1305.76, 1631.455]       4
(1631.455, 1957.15]       6
(1957.15, 2282.846]       1
(2282.846, 2608.541]      1
(2608.541, 2934.236]      1
(2934.236, 3259.931]      1
(3259.931, 3585.627]      1
(3585.627, 3911.322]      1
(3911.322, 4237.017]      0
(4237.017, 4562.712]      0
(4562.712, 4888.408]      0
(4888.408, 5214.103]      0
(5214.103, 5539.798]      0
(5539.798, 5865.493]      0
(5865.493, 6191.189]      0
(6191.189, 6516.884]      1
Name: relative_velocity.kilometers_per_second, dtype: int64

In [22]:
df2 = pd.read_json("https://raw.githubusercontent.com/manu-msr/beduadp/master/Datasets/new_york_times_bestsellers-clean.json")
df2.head()

,amazon_product_url,author,description,publisher,title,oid,bestsellers_date.numberLong,published_date.numberLong,rank.numberInt,rank_last_week.numberInt,weeks_on_list.numberInt,price.numberDouble
0,http://www.amazon.com/The-Host-Novel-Stephenie...,Stephenie Meyer,Aliens have taken control of the minds and bod...,"Little, Brown",THE HOST,5b4aa4ead3089013507db18c,1211587200000,1212883200000,2,1,3,25.99
1,http://www.amazon.com/Love-Youre-With-Emily-Gi...,Emily Giffin,A woman's happy marriage is shaken when she en...,St. Martin's,LOVE THE ONE YOU'RE WITH,5b4aa4ead3089013507db18d,1211587200000,1212883200000,3,2,2,24.95
2,http://www.amazon.com/The-Front-Garano-Patrici...,Patricia Cornwell,A Massachusetts state investigator and his tea...,Putnam,THE FRONT,5b4aa4ead3089013507db18e,1211587200000,1212883200000,4,0,1,22.95
3,http://www.amazon.com/Snuff-Chuck-Palahniuk/dp...,Chuck Palahniuk,An aging porn queens aims to cap her career by...,Doubleday,SNUFF,5b4aa4ead3089013507db18f,1211587200000,1212883200000,5,0,1,24.95
4,http://www.amazon.com/Sundays-at-Tiffanys-Jame...,James Patterson and Gabrielle Charbonnet,A woman finds an unexpected love,"Little, Brown",SUNDAYS AT TIFFANY’S,5b4aa4ead3089013507db190,1211587200000,1212883200000,6,3,4,24.99

In [25]:
price = ("price.numberDouble")

price = df2[price]
price.max() - price.min()

20.0

In [32]:
segmento_p = pd.cut(price, 10)

In [33]:
df2["price.numberDouble"].groupby(segmento_p).count()

price.numberDouble
(14.97, 16.99]      14
(16.99, 18.99]       0
(18.99, 20.99]      33
(20.99, 22.99]      33
(22.99, 24.99]     446
(24.99, 26.99]    1257
(26.99, 28.99]    1154
(28.99, 30.99]      84
(30.99, 32.99]       0
(32.99, 34.99]      12
Name: price.numberDouble, dtype: int64

In [35]:
df3 = pd.read_csv('https://raw.githubusercontent.com/manu-msr/beduadp/master/Datasets/melbourne_housing-clean.csv',index_col=0)
df3.head()

,suburb,address,rooms,type,price,method,seller_g,date,distance,postcode,bedroom_2,bathroom,car,land_size,council_area,latitude,longitude,region_name,property_count
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,2.0,1.0,1.0,202.0,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,2.0,1.0,0.0,156.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,0.0,134.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,3.0,2.0,1.0,94.0,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,3.0,1.0,2.0,120.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

In [37]:
terreno = df3['land_size']
terreno.max() - terreno.min()

76000.0

In [40]:
segmento_l = pd.cut(terreno, 10)

In [42]:
df3['land_size'].groupby(segmento_l).count()

land_size
(-76.0, 7600.0]       11619
(7600.0, 15200.0]        12
(15200.0, 22800.0]        9
(22800.0, 30400.0]        0
(30400.0, 38000.0]        2
(38000.0, 45600.0]        2
(45600.0, 53200.0]        0
(53200.0, 60800.0]        0
(60800.0, 68400.0]        0
(68400.0, 76000.0]        2
Name: land_size, dtype: int64